.containerAboutServices {
    display: flex;
    background-image: url('../../assets/fundoPadrao.png');
    color: white;
    overflow: hidden;
}

.titleAboutServices {
    font-size: 6vw;
    margin-left: 0.4vw;
    color: #9340FF;
    font-family: 'extra bold';
}

.listServices {
    font-size: 2.8vw;
    font-weight: bold;
    margin-top: 1.8vw;
}

.listServices li {
    position: relative;
    left: 8.4vw;
    top: 2vw;
}

.valueServices {
    font-size: 4vw;
    font-weight: bold;
    margin-top: 8vw;
}

.containerTextServices {
    display: flex;
    flex-direction: column;
    /* z-index: 0; */
    justify-content: center;
    align-items: center;
    width: 45vw;
}

.containerModelServicesImage {
    background-image: url('../../assets/elipseViolet.png');
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53.53vw;
    background-size: auto 66vw;
    background-repeat: no-repeat;
    background-position: -1vw 0vw;
}

.exclamaLana {
    margin-left: 12vw;
    height: 52vw;
}

@media (max-width: 1600px) and (max-height: 720px) {
    /* Coloque aqui os estilos específicos para telas menores que 1600x720 pixels */
    /* Por exemplo: */
    .titleAboutServices {
        font-size: 5vw;
    }

    .listServices {
        font-size: 3vw;
        font-weight: bold;
        margin-top: 1.8vw;
    }

    .valueServices {
        font-size: 4.4vw;
    }

    .exclamaLana {
        margin-bottom: 2.8em;
    }
    /* Outros estilos para telas menores que 1600x720 pixels */
  }
