/* Menu.css */

.mobile-menu-button {
    display: none; /* Esconder o botão em telas maiores */
    cursor: pointer;
  }
  
  .bar {
    width: 100;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .mobile-menu-button.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .mobile-menu-button.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .mobile-menu-button.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu ul {
    display: flex;
    list-style: none;
  }
  
  /* Media query para telas com largura máxima de 700px */
  @media (max-width: 700px) {
    .mobile-menu-button {
      display: block; /* Exibir o botão em telas menores */
    }
    
    .menu {
      display: none; /* Esconder o menu em telas menores */
    }
  
    .menu.open {
      display: block; /* Exibir o menu ao clicar no botão responsivo */
    }
  
    .menu ul {
      flex-direction: column; /* Exibir os itens do menu em uma coluna */
      align-items: center; /* Centralizar verticalmente os itens do menu */
      padding: 20px; /* Adicionar espaço interno ao menu */
      background-color: #12192C; /* Cor de fundo do menu */
    }
  }
  