.containerExemptPerson {
    background-image: url('../../assets/fundoPadrao.png');
    color: white;
}

.titleExemptPerson {
    font-family: 'extra bold';
    padding: 0.6vw;
    color: #9340FF;
    /* margin-left: 2vw; */
    font-size: 3.6vw;
    background-color: #FBAE24;
}

.containerTitleExemptPerson {

}

.listIsentPerson {
    font-weight: bold;
    padding: 2em;
    line-height: 1.8;
}

.poupaTempoOrgao {
    font-size: 4vw;
    padding: 1em;
    margin-left: 2em;
}

.poupaTempoOrgao span {
    color: #9340FF;
}


@media (max-width: 700px) {
    .titleExemptPerson {
        font-size: 8vw;
        padding: 2vw;
    }

    .listIsentPerson {
        font-size: 4vw;
    }

    .poupaTempoOrgao {
        padding: 1vw;
        margin: 1vw;
    }

    .contactTitle {
        font-size: 4vw;
    }
  }
