.containerExemptPerson {
    background-image: url('../../assets/fundoPadrao.png');
    /* height: 34em; */
    /* max-height: 34em; */
    color: white;
}

.titleExemptPerson {
    font-family: 'extra bold';
    padding: 1em;
    color: #9340FF;
    margin-left: 2vw;
    font-size: 3.6vw;
}

.listIsentPerson {
    font-weight: bold;
    padding: 2em;
    line-height: 1.8;
}

.poupaTempoOrgao {
    font-size: 4vw;
    padding: 1em;
    margin-left: 2em;
}

.poupaTempoOrgao span {
    color: #9340FF;
}


@media (max-width: 1700px) and (max-height: 720px) {
    /* Coloque aqui os estilos específicos para telas menores que 1600x720 pixels */
    /* Por exemplo: */
    .titleExemptPerson {
        font-size: 8vw;
        padding: 2vw;
    }

    .listIsentPerson {
        font-size: 4vw;
    }

    .poupaTempoOrgao {
        padding: 1vw;
        margin: 1vw;
    }
    /* Outros estilos para telas menores que 1600x720 pixels */
  }
