.containerTerapia {
    /* background-image: url('../../assets/backgroundTerapy.png'); */
    background-color: #111728;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    align-items: center;
    text-align: center;
    width: 100%;
    /* height: 66vw; */
    color: white;
    overflow: hidden;
}

.containerImgTerapia img {
    /* position: relative; */
    /* top: 8vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 8vw;
    /* border-radius: 2vw; */
}

.containerTextAdjustment {
    position: relative;
    bottom: 20vw;
}

.containerTextAdjustment h3{
    font-size: 2.8vw;
}