.containerContact {
    background-image: url('../../assets/fundoPadrao.png');
    /* height: 40vw; */
    color: white;
    padding-bottom: 4vw;
}

.contactTitle {
    color: #9340ff;
    font-size: 4vw;
    margin-left: 6vw;
}

.paragaphContact {
    text-align: center;
    margin-top: 0.8vw;
    font-size: 2.4vw;
}

.whatsapp-button {
  display: flex;
  align-items: center;
  background-color: #25D366;
  color: #fff;
  font-size: 2vw;
  width: 26vw;
  height: 5.4vw;
  padding: 2vw 1vw;
  border-radius: 0vw 2.0vw 2.0vw 0vw;
  font-weight: bold;
  text-decoration: none;
  margin-top: 6vw;
  }
  
  /* Estilos do ícone do WhatsApp */
  .whatsapp-icon:before {
    content: "";
    display: inline-block;
    width: 4.6vw;
    height: 5vw;
    margin-right: 0.2vw;
    background-image: url('../../assets/whatsapp.png');
    background-position: 0vw 1vw;
    background-size: auto 3.4vw;
    background-repeat: no-repeat;
  }
  
  /* Estilos do número de telefone */
  .whatsapp-phone {
    display: inline-block;
    margin-bottom: 0.20vw;
    margin-left: 0.2vw;
  }
  
  /* Estilos quando o botão é clicado */
  .whatsapp-button:active {
    background-color: #128C7E;
  }

  /* Estilos do botão */
.email-button {
    display: flex;
    align-items: center;
    width: 32vw;
    height: 6vw;
    background-color: #0072C6;
    color: #fff;
    padding: 0.8vw 0.4vw;
    border-radius: 0vw 2vw 2vw 0em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4vw;
    line-height: 1.5vw;
    /* text-align: center; */
    margin-top: 1.2vw;
  }
  
  /* Estilos do ícone de e-mail */
  .email-icon:before {
    content: "";
    display: inline-block;
    width: 4vw;
    height: 4vw;
    margin-right: 0.4vw;
    background-image: url('../../assets/o-email.png');
    background-position: 50% 50%;
    background-size: auto 4vw;
    background-repeat: no-repeat;
  }
  
  /* Estilos do endereço de e-mail */
  .email-address {
    display: inline-block;
  }
  
  /* Estilos quando o botão é clicado */
  .email-button:active {
    background-color: #005596;
  }
  
.containerFormsAndLinks {
    display: flex;
    width: 100%;
}

.linksForms {
    width: 60%;
}

.containerForms {
    width: 20%;
    display: flex;
    text-align: center;
    margin-top: 1.4em;
}

.containerPrivacity {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 2.4vw;
  margin-top: 4vw;
}

.linksForms a:hover {
  color: white;
}

.linksForms a:hover {
  color: white;
}

.containerPrivacity a {
  text-decoration: none;
  color: white;
}

.containerPrivacity a:hover {
  color: #9340ff;
}

@media (max-width: 700px) {
  .containerTitleParagraph {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .containerPrivacity {
    font-size: 4vw;
  }

  .contactTitle {
    font-size: 14vw;
}

.paragaphContact {
  font-size: 4vw;
}

.whatsapp-button {
  width: 74vw;
  height: 14vw;
  font-size: 6.2vw;
}

.whatsapp-icon:before {
  content: "";
  display: inline-block;
  width: 10vw;
  height: 14vw;
  margin-right: 4vw;
  margin-left: 4vw;
  background-image: url('../../assets/whatsapp.png');
  background-position: 0vw 3.4vw;
  background-size: auto 10vw;
  background-repeat: no-repeat;
}

.email-button {
  width: 100vw;
  height: 14vw;
  font-size: 4.6vw;
}

.email-icon:before {
  content: "";
  display: inline-block;
  width: 10vw;
  height: 10vw;
  margin-right: 1.2vw;
  background-image: url('../../assets/o-email.png');
  background-position: 50% 50%;
  background-size: auto 10vw;
  background-repeat: no-repeat;
}
}
