.containerAppointmentScheduling {
    background-image: url('../../assets/fundoPadrao.png');
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 58vw;
    overflow: hidden;
}

.containerAppointmentScheduling img {
    width: 70vw;
}
