.privacityContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url('../../assets/fundoPadrao.png');
    /* height: 100vh; */
    color: white;
}

.privacityContainer h1 {
    font-size: 4vw;
    height: 0vw;
    margin-bottom: 8vw;
    color: #944FFD;
}

.containerPrivacityParagraph {
    padding: 4vw;
    font-size: 2.2vw;
    background-color: #12192C;
    border-radius: 4vw;
}

@media (max-width: 700px) {
    .privacityContainer{
        height: 100vh;
    }

    .privacityContainer h1 {
        font-size: 6vw;
        display: block;
        margin-bottom: 8vw;
        color: #944FFD;
    }

    .containerPrivacityParagraph {
        padding: 4vw;
        font-size: 4vw;
        background-color: #12192C;
        border-radius: 4vw;
    }
  }