.containerAvisoImportante {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    background-image: url('../../../assets/fundoPadrao.png');
    color: white;
}

.containerAvisoImportanteTitle h1 {
    color: #9340ff;
}

.containerAvisoImportanteTitle h5 {
    margin-left: 6vw;
    margin-bottom: 4vw;
}

.containerAvisoImportanteTitle {
    /* height: 100%;
    width: 100%; */
    padding: 4vw;
}

.containerTitleH3 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0.4vw 0em rgba(247, 247, 247, 0.2);
}

.containerTitleH3 h3 {
    /* margin-bottom: 8vw; */
    padding: 2vw;
}

.containerAvisoFull {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.2vw;
    /* border: 1px solid black; */
    box-shadow: 0px 0.4vw 0em rgba(247, 247, 247, 0.2);
    padding: 2vw;
}

.containerAvisoFull h3 {
    padding: 2vw;
}

.containerAvisoFull h4 {
    padding: 2vw;
}

.containerButtonPayment {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    /* margin-top: 2vw;
    margin-bottom: 2vw; */
    padding-bottom: 1vw;
    box-shadow: 0px 0.2vw 0em rgba(247, 247, 247, 0.2);
}

.containerButtonAfter {
    /* width: 48%; */
    text-align: center;
}

.containerButtonAfter p {
    padding: 1vw;
}

.buttonPaymentPadrao {
    font-size: 1.8vw !important;
    padding: 1.2vw !important;
    border-radius: 1.2vw !important;
    border: none !important;;
    background-color: #9353FE !important;
    color: white !important;
}

.buttonPaymentPadrao a {
    text-decoration: none;
    color: white;
}

.containerButtonPaymentNow {
    display: flex;
    flex-direction: column;
    width: 48%;
    text-align: center;
}

.containerButtonPaymentNow p {
    padding: 1vw;
    margin-top: 2vw;
    /* box-shadow: 0px 0.2vw 0em rgba(247, 247, 247, 0.2); */
}

.buttonPaymentPadrao:hover {
    background-color: #7B2CBF !important;
    transition: background-color 0.5s !important;
  }

  .buttonPaymentPadrao:active {
    box-shadow: 0 0 0.4em #7B2CBF !important;
  }

  .buttonPaymentPadrao span {
    display: inline-block !important;
    position: relative !important;;
    transition: transform 0.5s !important;
  }
  
  .buttonPaymentPadrao span::before {
    content: '' !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 2px !important;
    background-color: white !important;
    transform: scaleX(0) !important;
    transition: transform 0.5s !important;
    transform-origin: left !important;
    
  }
  
  .buttonPaymentPadrao:hover span {
    transform: translateY(-3px);
  }
  
  .buttonPaymentPadrao:hover span::before {
    transform: scaleX(1);
  }
 
  .buttonPaymentPadrao {
  text-decoration: none;
  color: white;
  text-align: center;
}

.buttonPaymentPadrao:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 700px) {
    .containerAvisoImportanteTitle {
        padding: 2px;
        justify-content: center;
        align-items: center;
    }

    .containerAvisoImportante {
        justify-content: flex-start;
    }
  }
