.containerPageAtention {
    background-image: url('../../assets//fundoPadrao.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.13vw;
    color: white;
    overflow: hidden;
}

.containerPageAtention h1 {
    color: #9340FF;
    font-weight: bold;
    font-size: 4.4vw;
    font-family: 'extra bold';
}

.containerPageAtention p {
    font-weight: bold;
    font-size: 2.4vw;
    padding: 4vw;
}