.containerTerceiraPartePrimeiraVia {
    background-image: url('../../../assets/fundoPadrao.png');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* height: 150vh; */
}

.containerFormTerceiraParte h1 {
    color: #9340ff;
}

.containerFormTerceiraParte h5 {
    margin-left: 6vw;
    margin-bottom: 4vw;
}

.containerFormTerceiraParte {
    /* height: 80%; */
    width: 80%;
    padding: 8vw;
}

.containerTitleTerceiraParteTwo h3 {
    box-shadow: 0px 0.4vw 0em rgba(247, 247, 247, 0.2);
    padding: 2vw;
    margin-bottom: 2vw;
}

.containerInputSelectTerceiraParte {
    box-shadow: 0px 0.4vw 0em rgba(247, 247, 247, 0.2); 
}

.inputSelectTerceiraParte {
    width: 20em;
    height: 3em;
}

.containerInputSelectTerceiraParte h4 {
    padding: 2vw;
}

.labelSelectTerceiraParte {
    padding: 2vw;
    margin-bottom: 2vw;
}

.containerSelectTurn {
    padding: 2.4vw;
    box-shadow: 0px 0.4vw 0em rgba(247, 247, 247, 0.2); 
}

.containerInputSelectTurn {
    width: 20em;
    height: 3em;
}

.containerRadiosTerceiraParte {
    padding: 1.6vw 0vw 0vw 1.6vw;
    margin-left: 2vw;
}

.containerRadiosTerceiraParte h6 {
    margin-bottom: 2.4vw;
}

.threeBottomSubmit {
    display: flex;
    justify-content: end;
    margin-top: 2vw;
  }
  
  .threeBottomSubmit button {
    height: 5vw;
    font-size: 2vw;
    padding: 0em 6vw 0em 6vw;
    border-radius: 1vw 1.2vw 1.2vw 1vw;
    color: white;
    background-color: #9340FF;
    border: 0px;
    margin-bottom: 1em;
  }
  
  .threeBottomSubmit button:hover {
    background-color: #7B2CBF;
  }
  
  .threeBottomSubmit button:active {
    background-color: #7B2CBF;
  }

  @media (max-width: 700px) {
    .containerTerceiraPartePrimeiraVia {
      overflow: hidden;
      height: 100vh;
    }

    .containerTerceiraPartePrimeiraVia {
        flex: 1;
    }
  }
