
.buttonAboutServices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
    border-radius: 4vw;
    height: 12vw;
    width: 34vw;
    background-color: #9340FF;
    color: white;
    font-size: 2.8vw;
    font-weight: bold;
    border: 0px;
}

.buttonAboutServices:hover {
    background-color: #7B2CBF;
    transition: background-color 0.5s;
  }

.buttonAboutServices:active {
    box-shadow: 0 0 0.4em #7B2CBF;
  }

  .buttonAboutServices span {
    display: inline-block;
    position: relative;
    transition: transform 0.5s;
  }
  
  .buttonAboutServices span::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: left;
    
  }
  
  .buttonAboutServices:hover span {
    transform: translateY(-3px);
  }
  
  .buttonAboutServices:hover span::before {
    transform: scaleX(1);
  }
 
  .buttonAboutServices {
  text-decoration: none;
  color: white;
  text-align: center;
}

.buttonAboutServices:hover {
  text-decoration: none;
  color: white;
}