.containerGoal {
    background-image: url('../../assets/fundoPadrao.png');
    display: flex;
    align-items: center;
    /* height: 48vw; */
    padding: 9vw;
    color: white;
}

.containerGoal p {
    font-size: 4vw;
    text-align: center;
    padding: 1vw;
    font-weight: bold;
}