.containerSecondPage {
    background-image: url('../../assets/fundoPadrao.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44vw;
    color: white;
}

.paragraphSecondPage {
    font-size: 5.2vw;
    text-align: center;
}

