.containerSecondPage {
    background-image: url('../../assets/fundoPadrao.png');
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 8vw;
}

.serviceTaxSecondPage {
    font-size: 2.8vw;
}

.paragraphSecondPage {
    font-size: 4.6vw;
    text-align: center;
}

.divButtonSecondPage {
    margin-top: 4vw;
}

