.containerFormsContact {
  background-image: url('../../assets/fundoPadrao.png');
  overflow: hidden;
  /* height: 92em; */
}

.forms-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.containerStateMunici {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0.4vw 0em rgba(247, 247, 247, 0.2);
  padding: 2vw;
  margin: 2vw;
}

.inputState {
  width: 60vw;
  height: 4vw;
  margin: 1vw;
}

.containerStateMunici h3 {
  padding: 1vw;
  margin-bottom: 6vw;
  box-shadow: 0px 0.4vw 0em rgba(247, 247, 247, 0.2);
}

.containerCPFandRG {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0.4vw 0em rgba(247, 247, 247, 0.2);
}

.containerCPFandRG h2 {
  padding: 4vw;
}

.rgLabel {
  margin-left: 10vw;
}

.emissorRgAndName {
    display: flex;
    padding: 2vw;
    width: 100%;
}

.emissorRgAndName input {
  text-align: center;
  font-size: 2.2vw;
  height: 4vw;
  width: 40vw;
}

.containerFullName {
  margin-left: 10vw;
}

.rgCpfFlex {
  display: flex;
  padding: 2vw;
  width: 100%;
}

.rgCpfFlex input {
  text-align: center;
  font-size: 2.2vw;
  height: 4vw;
  width: 40vw;
}

.containerSocialName {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2vw;
  width: 100%;
}

.labelSocialName {
  margin-right: 10vw;
}

.socialNameInput {
  text-align: center;
  font-size: 2.2vw;
  height: 4vw;
  width: 40vw;
}

.containerTitleForms {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

.containerTitleForms h1 {
  color: #9340FF;
}

.containerTitleForms h5 {
  color: white
}

.forms-container label,
.forms-container input,
.forms-container select {
  margin-bottom: 2vw;
}

.forms-container button {
  background-color: #ffffff;
  color: #101728;
  padding: 10vw 20vw;
  border: none;
  cursor: pointer;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 12vw;
  height: 6vw;
  font-size: 1.4vw;
  border-radius: 0.8vw;
  border: 0.1vw solid #9340FF;
  cursor: pointer;
}

.selected {
  background-color: #9340FF;
  box-shadow: 0 0 10vw rgba(112, 17, 167, 0.5);
  color: white;
  border: 0.4vw #1b4ac2;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.labelFormGener {
  margin-right: 1vw;
}

.labelSexMasc {
  margin-right: 1vw;
}

.containerButtonSubmit {
  display: flex;
  justify-content: center;
  /* height: 4vw; */
  padding: 1vw;
}

.containerButtonSubmit button {
  height: 6vw;
  font-size: 2vw;
  padding: 0em 6vw 0em 6vw;
  border-radius: 0.3em;
  color: white;
  background-color: #9340FF;
  /* margin-top: 1em; */
}

.containerButtonSubmit button:hover {
  background-color: #7B2CBF;
  /* transition: background-color 0.5s; */
}

.containerButtonSubmit button:active {
  background-color: #7B2CBF;
}
