.containerFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../../assets/fundoPadrao.png');
}

.containerParagraphFooter {
    color: white;
    width: 40%;
    max-width: 40%;
    font-weight: 900;
    font-size: 1.8vw;
    line-height: 2.6vw;
    letter-spacing: 0.2vw;
}

.containerImgFooter {
    display: flex;
}

.containerImgFooter img {
    height: 26vw;
}

.exclamacaoLanaFooter {
    position: relative;
    left: 38vw;
    top: 2.6vw;
    height: 4.8vw;
}

.containerImgFooter {
    background-color: #9FD2FF;
}
