#root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #111728;
  overflow: hidden;
}

.containerMenuHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #12192c;
  color: white;
  /* padding: 1vw; */
  font-size: 1.8vw;
  border-radius: 0em 0vw 4vw 4vw;
  margin-bottom: 1vw;
  /* text-align: center; */
}

.containerMenuHeader a {
  text-decoration: none;
  color: white;
  margin: 2.4vw;
}

.containerMenuHeader a:hover {
  color: #944FFD;
}

.mobile-menu-button {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

@media (max-width: 700px) {
  .containerMenuHeader {
    justify-content: end;
    margin-right: 4vw;
    font-size: 4vw;
    /* width: 100%; */
  }
}
