.containerImportantGuidelines {
    background-image: url('../../assets/fundoPadrao.png');
    color: white;
}

.titleImportanteGuidelines {
    color: #9340FF;
    background-color: #FBAE24;
    font-family: 'extra bold';
    font-size: 3.7vw;
    padding: 0.4vw;
    /* margin-left: 2vw; */
}

.containerTitleImportanteGuidelines {
    width: 100%;
    height: 4vw;
    padding: 0px;
}

.listOrientationGuidelines {
    padding: 2em;
    font-weight: bold;
    line-height: 1.6;
}

.titleBabesGuidelines {
    font-family: 'extra bold';
    background-color: #FBAE24;
    color: #9340FF;
    padding: 0.4vw;
    /* margin-left: 4vw; */
    font-size: 3.7vw;
}

.listGuidelinesForBaby {
    padding: 2em;
    font-weight: bold;
    line-height: 1.6;
}

@media (max-width: 720px) and (max-height: 1600px) and (min-resolution: 270dpi) {
    .titleImportanteGuidelines {
        font-size: 6vw;
    }
    
    .listOrientationGuidelines {
        font-size: 4vw;
    }

    .titleBabesGuidelines {
        font-size: 6vw;
    }

    .listGuidelinesForBaby {
        font-size: 4vw;
    }
  }