.containerImportantGuidelines {
    background-image: url('../../assets/fundoPadrao.png');
    height: 120vh;
    color: white;
    overflow: hidden;
}

.titleImportanteGuidelines {
    color: #9340FF;
    font-family: 'extra bold';
    font-size: 2.2vw;
    margin-left: 2vw;
}

.listOrientationGuidelines {
    padding: 2em;
    font-weight: bold;
    line-height: 1.4;
}

.titleBabesGuidelines {
    font-family: 'extra bold';
    color: #9340FF;
    margin-left: 4vw;
    font-size: 2.2vw;
}

.listGuidelinesForBaby {
    /* padding: 15em; */
    font-weight: bold;
    line-height: 1.4;
}