.containerImportantGuidelines {
    background-image: url('../../assets/fundoPadrao.png');
    color: white;
}

.titleImportanteGuidelines {
    color: #9340FF;
    font-family: 'extra bold';
    font-size: 3.7vw;
    margin-left: 2vw;
}

.listOrientationGuidelines {
    padding: 2em;
    font-weight: bold;
    line-height: 1.6;
}

.titleBabesGuidelines {
    font-family: 'extra bold';
    color: #9340FF;
    margin-left: 4vw;
    font-size: 3.7vw;
}

.listGuidelinesForBaby {
    padding: 2em;
    font-weight: bold;
    line-height: 1.6;
}

@media (max-width: 1700px) {
    .titleImportanteGuidelines {
        font-size: 6vw;
    }
    
    .listOrientationGuidelines {
        font-size: 4vw;
    }

    .titleBabesGuidelines {
        font-size: 6vw;
    }

    .listGuidelinesForBaby {
        font-size: 4vw;
    }
  }